body {
    background-color: #eee;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: #039be5;
}

strong {
    text-transform: uppercase;
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style-type: none
}

my-app {
    display: block;
    background: #fff;
    margin: 100px auto auto;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    color: #3c3c3c;
    width: 800px;
    height: 370px;
}

my-theory {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-size: 15px;
    line-height: 24px;
    padding: 60px 15px 10px 40px;
}

.help {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
}
.fa {
    margin-right: 5px;
}

@media (max-width: 767px) {
    my-app {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
