body {
    background-color: #eee;
    font-family: 'Noto Sans', sans-serif;
}

my-app {
    display: block;
    background: #fff;
    margin: 100px auto auto;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    color: #3c3c3c;
    width: 800px;
    height: 370px;
}

@media (max-width: 767px) {
    my-app {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
