h3 {
    text-align: center;
}

a.verb:hover {
    color: #7f8c8d;
    text-decoration: none;
    border-color: #7f8c8d;
}

a:visited, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

.verb {
    border-bottom: 2px #7f8c8d dotted;
    color: inherit;
}

input {
    margin: 10px 10px 15px 10px;

    width: 150px;
    font-size: 26px;

    text-align: center;
    border-radius: 100px;
    height: 42px;
    border: 1px solid #eee;
    outline: none;

    vertical-align: middle;
    transition: border-color 0.5s;
}

input.ok {
    border: 2px solid #2ecc71;
}

input.error {
    border: 2px solid #e74c3c;
}

.result {
    font-size: 20px;
    text-align: center;
}

.translation {
    color: #7f8c8d;
    font-style: italic;
}

.ok, .ok .translation {
    color: #27ae60;
}

.error, .error .translation {
    color: #e74c3c;
}

@media (max-width: 400px) {
    .verb, .answer, .object {
        display: block;
    }
    .verb {
        border: none;
        text-decoration: underline;
    }
    input {
        width: 100%;
    }
    .result {
        margin-top: 30px;
    }
}
